:root{
  --pink:#fff1f5;
  --blue:#f1f5ff;
  --green:#f1fff7;
  --yellow:#fffbe6;
  --purple:#fcefff;
  --accent:#ff8fab;
  --dark:#444;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins', sans-serif;
  color:var(--dark);
}

/* NAVBAR */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  height:65px;
  background:#ffffffcc;
  backdrop-filter: blur(10px);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 30px;
  z-index:1000;
  box-shadow:0 6px 20px rgba(0,0,0,0.06);
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 0px;  /* optional, makes text look balanced */
}


.hamburger-box{
  position:relative;
}

.hamburger{
  font-size:26px;
  cursor:pointer;
}

/* MENU (HOVER) */
.menu{
  position:absolute;
  top:100%;
  right:0;
  background:white;
  border-radius:14px;
  padding:10px 0;
  min-width:180px;
  display:none;
  box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

.menu a{
  display:block;
  padding:12px 20px;
  text-decoration:none;
  color:#555;
  transition:0.3s;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.menu a:hover{
  background:var(--pink);
  color:var(--accent);
}

.hamburger-box:hover .menu,
.menu:hover {
  display: block;
}


/* SECTIONS */
section{
  min-height:80vh;
  padding:40px 20px;
}

.education {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edu-item {
  background: white;
  padding: 18px 22px;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.edu-item h3 {
  margin-bottom: 5px;
  color: #ff8fab;
  font-size: 20px;
}

.edu-item p {
  color: #555;
  font-size: 15px;
}




h1{
  font-family:'Pacifico', cursive;
  font-size:38px;
  color:var(--accent);
  margin-bottom:15px;
}

p{
  max-width:750px;
  line-height:1.7;
}

/* INTRO */
.intro-section{
  background:var(--pink);
  display:flex;
  align-items:center;
  gap:50px;
}

.intro-img img{
  width:260px;
  border-radius:20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

/* BACKGROUNDS */
#edu{background:var(--blue);}
#skills{background:var(--green);}
#projects{background:var(--yellow);}
#contact{background:var(--purple);}

a{
  text-decoration: none;
  color: rgb(5, 62, 112);
}

@media (max-width: 600px) {
  .section h1 {
    font-size: 28px;
  }
  .section p {
    font-size: 16px;
  }
}
